.project
.classpath
*.iml

*/.settings/*
*/*/.settings/*
*/*/*/.settings/*

*/target/*
*/*/target/*
*/*/*/target/*

*/dist/*
*/*/dist/*
*/*/*/dist/*

*/build/*
*/*/build/*
*/*/*/build/*

*/.idea/*
*/*/.idea/*
*/*/*/.idea/*

*/nbproject/private/*
*/*/nbproject/private/*
*/*/*/nbproject/private/*

*/nbproject/jfx-impl_backup*.xml
*/nbproject/UPDATED.TXT
